DATABASE_URL=postgres://myuser:mypassword@localhost:5433/mydatabase
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
BETTER_AUTH_SECRET=
ADMIN_PASSWORD=Password123!
ADMIN_EMAIL=admin@example.com